header.site-header {
  background-color: var(--site-header-bg-color);
  color: var(--site-header-color);
  height: var(--site-header-height);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;

  img.pm-logo {
    height: 50px;
    margin-left: 0.25rem;
  }

  .titles-container {
    margin-left: 1rem;
    white-space: nowrap;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .page-title {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .page-subtitle {
    font-size: 0.8rem;
  }

  nav .nav-link {
    color: var(--site-header-color);
  }
}
